@{
    ViewData["Title"] = "Contact us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    DA NANG<br />
    TUNGTK10 - IBOOK<br />
    <abbr title="Phone">P: 0945632596</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">TUNGTK10@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">TUNGTK10@example.com</a>
</address>
